
@{
    ViewBag.Title = "Landing";
    @Styles.Render("~/Content/webPixel.css");
}

<style>

    .orange {
        color: #fc7c7c;
    }

    .purple {
        color: #7c44eb;
    }

    .blue {
        color: #6018ec;
    }

    p, li {
        font-size:1.2rem !important;
        text-align:justify
    }



</style>


<!-- Page Content -->
<section class="bg-white">

    <div>

        <img src="~/Images/Landing/Portada.jpg" />
    </div>
    <div class="container py-5">
        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">¿Qué es check 035?</h1></div>
            <div class="col-12 fw-bold purple"><p><strong>Es la plataforma que integra todo lo que te permitirá cumplir con la NOM035.</strong></p></div>
            <div class="col-12 col-md-4 text-center px-4">
                <div class="card border-0 py-6">
                    <img class="shadow rounded" src="~/Images/Landing/01-Optimiza.png" />
                </div>
                <p>
                    <strong>
                        <span class="orange">Optimiza la implementación</span> de los requisitos para cumplir con la <span class="purple">NOM 035</span>
                    </strong>
                </p>
            </div>
            <div class="col-12 col-md-4 text-center px-4">
                <div class="card border-0 py-6">
                    <img class="shadow rounded" src="~/Images/Landing/02-Desarrolla.png" />
                </div>
                <p>
                    <strong>
                        Desarrolla la cultura de bienestar y <span class="purple">entornos favorables con</span><span class="orange"> 36 diferentes cursos 100% online</span>

                    </strong>

                </p>

            </div>

            <div class="col-12 col-md-4 text-center px-4">
                <div class="card border-0 py-6">
                    <img class="shadow rounded" src="~/Images/Landing/03-Escucha.png" />

                </div>
                <p>
                    <strong>
                        Escucha la voz de tus colaboradores <span class="orange">a través de una línea telefónica</span><span class="purple"> de denuncia de quejas</span>

                    </strong>

                </p>
            </div>
            <div class="col-12 col-md-6 p-4 my-md-6">
                <h4 class="orange">Mira el check list del contenido:</h4>
                <ul class="list-unstyled ps-3 py-3">
                    <li>Curso sobre la <span class="orange">NOM035.</span></li>
                    <li>Política de <span class="orange">previsión de riesgos.</span></li>
                    <li>Formatos de <span class="orange">evidencias.</span></li>
                    <li><span class="orange">Kit de comunicación y capacitación</span> sobre la NOM035.</li>
                    <li><span class="orange">Software 100% automatizado</span> para la aplicación de la encuesta para la identificación de riesgos psicosociales.</li>
                    <li><span class="orange">Reportes de resultados</span> por centro y por departamento.</li>
                    <li><span>Línea de Escucha 24/7</span> para la denuncia de violencia laboral.</li>
                    <li><span>Más de 50 medidas</span> para la previsión de riesgos. </li>
                    <li><span>36 cursos 100% online</span> para la cultura de bienestar.</li>
                </ul>


            </div>
            <div class="col-12 col-md-6 p-4 my-md-6">
                <h4 class="purple">Conoce los beneficios:</h4>
                <ul class="list-unstyled ps-3 py-3">
                    <li>Descripción de <span class="purple">política para la previsión</span> de riesgos por factor psicosocial.</li>
                    <li><span class="purple">Recursos audiovisuales</span> para llevar a cabo la campaña de comunicación para todos cumplir con la Nom035.</li>
                    <li>Software que te permitirá implementar las <span class="purple">encuestas</span> para la identificación de riesgos por factor psicosocial.</li>
                    <li><span class="purple">Línea de atención telefónica</span> como buzón de quejas y denuncia.</li>
                    <li><span class="purple">Kit de medidas</span> para la previsión de riesgos y fomentar la cultura de bienestar y entornos favorables.  </li>
                    <li>Generación de <span class="purple">resultados automatizados</span>. 36 Cursos <span class="purple">100 online</span> para fortalecer cada una de las categorías que te pide la Nom035 como parte de tus estrategias de desarrollo de cultura.</li>

                </ul>

            </div>
        </div>
        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">Membresías</h1></div>
            <div class="col-12 fw-bold purple"><p><strong>La membresía empresarial te permitirá tener todo lo que necesitas para cumplir con la NOM035. Elige la que se adapte a las necesidades de tu empresa.</strong></p></div>
            <div class="col-12 p-4">
                <div class="card border-0 py-6 shadow rounded px-8" style="background-color: #f2f2f3 ">
                    <strong class="orange">Conoce lo que incluye:</strong>
                    <ul class="list-unstyled ps-3 pt-3">
                        <li>Duración de 12 meses</li>
                        <li>Todos los empleados que des de alta en la plataforma podrán tener acceso a todos los cursos</span></li>

                    </ul>

                </div>

            </div>

            <div class="col-12 p-4 my-6">
                <img src="~/Images/Landing/Tabla.jpg" />

            </div>

        </div>
    </div>

    <div>
        <img src="~/Images/Landing/SolicitaInformación.jpg" />

    </div>
    <div>

        <img src="~/Images/Landing/Capacitacion.jpg" />

    </div>

    <div class="container ">
        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="orange fw-bolder">36 contenidos</h1></div>
            <div class="col-12 fw-bold orange"><p><strong>Lo que podrás hacer:</strong></p></div>

            <div class="col-12  px-4">
                <div class="col-12 col-md-6">
                    <ul class="list-unstyled ps-3 py-3">
                        <li>
                            Podrás monitorear sus avances.
                        </li>
                        <li>
                            Podrás otorgar un reconocimiento de cumplimiento al terminar el contenido

                        </li>
                        <li>
                            Podrás cumplir con tus horas de capacitación
                            anual
                        </li>
                    </ul>
                </div>

            </div>

            <div class="row px-8">
                <div class="col-lg-3 col-sm-6 col-12 p-2 ">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (1).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (10).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2 ">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (11).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2 ">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (12).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (13).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (14).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (15).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (16).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (17).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (18).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (19).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (2).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (20).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (21).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (22).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (23).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (24).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (25).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (26).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (27).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (28).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (29).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (3).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (30).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (31).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (32).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (33).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (4).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (5).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (6).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (7).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (8).jpg" />
                </div>
                <div class="col-lg-3 col-sm-6 col-12 p-2">
                    <img src="~/Images/Landing/Portadas Cursos/Portadas (9).jpg" />
                </div>

            </div>

            <div class="row py-16 ">

                <div class="col-8">
                    <h1 class="blue fw-bolder py-6">Línea escucha</h1>
                    <p class="font-bold purple">
                        Gestionamos de forma eficiente y
                        confidencial la línea de denuncias
                        por violencia laboral 24/7 que
                        puedan surgir en tu organización.

                    </p>
                    <br />
                    <p class="font-bold orange">
                        Escuchamos las necesidades de
                        nuestros clientes mediante la
                        atención a sus usuarios en nuestro
                        contact center, garantizando un
                        servicio de calidad que incluye la
                        generación de indicadores
                        pertinentes para su puntual
                        seguimiento, administración y
                        mejora continua
                    </p>

                </div>
                <div class="col-4">
                    <img src="~/Images/Landing/Linea_Escucha.png" />
                </div>

            </div>

        </div>

    </div>
    <div>


        <img src="~/Images/Landing/Incluye.jpg" />

    </div>
    <div class="container py-6">
        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">Identificación de riesgos online</h1></div>
            <div class="col-12 fw-bold purple"><p><strong>Identifica los riesgos por factor psicosocial en toda tu organización.</strong></p></div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/Paso01.jpg" />
            </div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/Paso02.jpg" />
            </div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/Paso03.jpg" />
            </div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/Paso04.jpg" />
            </div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/Paso05.jpg" />
            </div>


        </div>

        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">Podcast Check 035</h1></div>
            <div class="col-12 fw-bold purple"><p><strong>Impulsamos la cultura del bienestar con tips, sugerencias y análisis sobre aspectos cruciales de la NOM 035 en nuestro podcast.</strong></p></div>
            <div class="col-12 p-4">
                <img src="~/Images/Landing/EscucharPodcast.jpg" />
            </div>

        </div>
    </div>
    <div>
        <img src="~/Images/Landing/Escúchanos.jpg" />
    </div>
    <div class="container py-18 ">
        <div class="row px-6">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">Diagnóstico de implementación</h1></div>
            <div class="col-12 fw-bold purple"><p><strong>Puedes conocer el nivel de cumplimiento de la NOM 035 en tu organización a través de nuestra encuesta y conocer los puntos en los que te ayudará nuestra plataforma</strong></p></div>

        </div>
    </div>

    <div>

        <img src="~/Images/Landing/RealizarEncuesta.jpg" />
    </div>

    <div class="container py-20" >
        <div class="row px-6 text-center">
            <div class="col-12  pb-4"><h1 class="blue fw-bolder">https://identifica.check035.com/checklist</h1></div>

        </div>

    </div>
    <div>

        <img src="~/Images/Landing/Contraportada.jpg" />
    </div>

</section>



