
@{
    ViewBag.Title = "RecursoComercializacion";
    @Styles.Render("~/Content/recursosStyle.css");
}

<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>


<div class="card shadow border-0 bg-white p-4">
    <div class="row">
        <div class="col-12 text-center"><h1>Recursos de comercialización</h1></div>
    </div>
    <div class="row">
        <div class="col-12 text-center mb-3"><h2>Aula virtual</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Aula.jpg" />
        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Un aula con recursos e información esencial para la implementación de la NOM 035</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Ver aula virutal
                        </a>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Acceso al CRM</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Identifica y da seguimiento a tus clientes desde la atracción hasta concretar la venta.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Ingresar
                        </a>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Funnel.jpg" />
        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Checklist sobre el proceso de implementación</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Encuesta.jpg" />
        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Para conocer qué es lo que no ha hecho una organización respecto a la NOM 035</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Ir a Checklist
                        </a>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Diagnóstico sobre el estado del cumplimiento</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>37 preguntas para <strong>conocer de forma específica las categorías </strong>que requiere implementar la organización y el <strong>nivel de cumplimiento con la NOM 035</strong></p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Obtener diagnóstico
                        </a>
                    </div>


                </div>
            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/CHKLZT.jpg" />
        </div>
    </div>
    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6251ed2f8a600b0018397826" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Cotizador</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Cotizacion.jpg" />
        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>La herramienta ideal para obtener precios al instante, descárgalo ahora.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Acceder
                        </a>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Brochure</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Toda la información que un cliente necesita sobre Check 035</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase" style="background: #ec2462;">
                            Brochure sin precios incluidos
                        </a>
                    </div>

                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn float-sm-end">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase">
                            Brochure con precios incluidos
                        </a>
                    </div>

                </div>
            </div>


        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/CHKLZT.jpg" />
        </div>
    </div>
    <div class="row my-3 my-sm-4">
        <div class="col-12 text-center mb-3"><h2>Formato de cotización</h2></div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <img class="imgKit" src="~/Images/Recursos/Cotizacion.jpg" />
        </div>
        <div class="col-sm-6 col-12 mb-3 mb-sm-0">
            <div class="row px-2">
                <div class="col-12">
                    <p>Descarga el formato editable para generar y enviar cotizaciones de manera rápida.</p>
                </div>
                <div class="d-flex justify-content-center ">
                    <div class="p-2 text-center btn">
                        <a href="#" class="btn btn-primary mx-1 px-5 text-uppercase ">
                            Descargar
                        </a>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <div class="row my-4 my-sm-6">
        <div class="col-12 text-center mb-3 px-4"><h2>Encuentra más contenido interesante en nuestras redes:</h2></div>
        <div class="col-12 text-center mb-3">
            <div class="icons_container mb-4">
                <div class="icon facebook">
                    <div class="tooltip"> Facebook </div> <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <div class="tooltip"> Twitter </div> <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip"> YouTube </div> <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

